@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --cor01: #091633;
    --cor02: #7299ED;
    --cor03: #2A66E8;
    --cor04: #324369;
    --cor05: #2150B5;

    --fonte-titulo: 'Baskervville', Arial, Helvetica, sans-serif;
    --fonte-texto: 'Sriracha', 'cursive', Arial, Helvetica, sans-serif;
}

*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--cor01);
}
p{ 
    font-family: var(--fonte-texto);
}
.headprincipal{
    background-color: #091633c4;
    width: 100%;
    max-height: max-content;
    overflow: auto;
    position: absolute;
    top: 0;
    z-index: 1;
}
.nome{
    font-size: 2em;
    color: var(--cor02);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.61);
    display: inline-block;
    margin: 8px auto 5px 5vw;
    font-family: var(--fonte-titulo);
}
.conthead{
    float: right;
    background-color: var(--cor02);
    border-radius: 2px;
    margin: 3px;
}
.conthead > a{
    text-decoration: none;
    color: var(--cor01);
    float: left;
    margin: 5px;
    padding: 3px;
    font-weight: 600;
}
.conthead > a:hover{
    background-color: var(--cor01);
    transition-duration: 1s;
    border-radius: 3px;
    color: var(--cor02);
}
article{
    background-image: url(../fotos/fundo-ft-perfil.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0px 20px 0px;
    overflow: hidden;
    text-align: center;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.432);
}
#ftperfil{
    border: 1px solid var(--cor01);
    display: inline-block;
    height: 401px;
}
#txtperfil{
    display: inline-block;
    width: 290px;
    text-align: justify;
    text-indent: 25px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.801);
    color: var(--cor01);
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: -182px;
}
#conhecimentos{
    background-color: var(--cor02);
    padding: 20px;
    margin: auto;
    overflow: auto;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.404);
    text-align: center;
}
#conhecimentos > h2{
    max-width: max-content;
    margin: auto;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    color: var(--cor01);
    background-image: linear-gradient(to right, #09163381, var(--cor02));
    border-radius: 4px;
}
#conhecimentos > div{
    margin: 20px 50px 0px 50px ;
    border: 1px solid black;
    width: max-content;
    font-family: var(--fonte-texto);
    width: 180px;
    display: inline-block;
    background-color: var(--cor03);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.555);
    border-radius: 3px;
    padding: 3px;
}
#js{
    background-image: url(../fotos/javascript.png);
    background-position: center center;
    background-size: 160px 110px;
}
#htmlcss{
    background-image: url(../fotos/htmlcss.png);
    background-position: center center;
}
#worldexcel{
    background-image: url(../fotos/worldexcel.png);
    background-position: center center;
}
#conhecimentos > div > h3{
    text-align: center;
}
#conhecimentos > div > p{
    background-color: rgba(255, 255, 255, 0.432);
}
#projetos{
    background-image: url(../fotos/fundo-ft-perfil.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 20px;
}
#projetos > h2{
    margin: auto;
    padding: 30px;
    font-size: 2em;
    color: var(--cor02);
    font-family: var(--fonte-titulo);
    max-width: max-content;
    background-color: #091633c2;
}
.boxsite{
    width: 400px;
    display: inline-block;
    margin: 30px;
}
.txtsite{
    margin: 30px auto 10px auto;
    font-family: var(--fonte-titulo);
    font-size: 1.7em;
    background-color: rgba(255, 255, 255, 0.733);
}
.picturesite{
    border: 1px solid var(--cor01);
    width: 100%;
}
#projetos > a{
    color: var(--cor01);
}
#projetos > a:hover .boxsite{
    width: 410px;
}
footer{
    background-color: var(--cor01);
    text-align: left;
    padding: 20px;
}
footer > h3{
    max-width: max-content;
    margin: auto;
    font-size: 2em;
    font-family: var(--fonte-titulo);
    color: var(--cor02);
}
.footer{
    color: var(--cor02);
    list-style-type: none;
    font-family: var(--fonte-texto);
    font-size: 1.5em;
}
.footera{
    text-decoration: none;
    text-align: justify;
}
@media screen and (max-width:650px) {
    header{
        width: 97.4vw;
    }
    .nome{
        font-size: 1.7em;
    }
    article{
        padding: 90px 0px 20px 0px;
    }
    #txtperfil{
        position: static;
    }
    #projetos > a > div {
        width: 70%;
    }
    #projetos > a:hover .boxsite{
        width: 75%;
    }
    .footer{
        font-size: 1.3em;
    }
    #iframe{
        padding: 90px 0px 20px 0px;
    }
}